@model BusinessERP.Models.AccAccountViewModel.AccAccountCRUDViewModel

<div class="row">
<div class="col-md-12">
<table class="ItemTranTable">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>Account Name</th><td>@Model.AccountName</td></tr>
    <tr><th>Account Number</th><td>@Model.AccountNumber</td></tr>
    <tr><th>Credit</th><td>@Model.Credit</td></tr>
    <tr><th>Debit</th><td>@Model.Debit</td></tr>
    <tr><th>Balance</th><td>@Model.Balance</td></tr>
    <tr><th>Description</th><td>@Model.Description</td></tr>
    <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
    <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
    <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
    <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
</table>
</div>
</div>
