@model BusinessERP.Models.PurchasesPaymentViewModel.ManagePurchasesPaymentViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div hidden>
        <input asp-for="PurchasesPaymentCRUDViewModel.Id" id="Id" />
        <input asp-for="PurchasesPaymentCRUDViewModel.QuoteNoRef" id="QuoteNoRef" />
        <input asp-for="PurchasesPaymentCRUDViewModel.CreatedDate" id="CreatedDate" />
        <input asp-for="PurchasesPaymentCRUDViewModel.CreatedBy" id="CreatedBy" />
        <input asp-for="PurchasesPaymentCRUDViewModel.CurrentURL" id="CurrentURL" />
        <input asp-for="PurchasesPaymentCRUDViewModel.IsVat" id="IsVat" />
        <input asp-for="PurchasesPaymentCRUDViewModel.RoleName" id="RoleName" />
    </div>

    <div class="card card-primary card-outline card-tabs">
        <div class="card-header p-0 pt-1 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="BasicInfo" data-toggle="pill" href="#divBasicInfo" role="tab"
                        aria-controls="BasicInfo" aria-selected="true">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="OtherInfo" data-toggle="pill" href="#divOtherInfo" role="tab"
                        aria-controls="OtherInfo" aria-selected="true">Other</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="AddNewCustomer" data-toggle="pill" href="#divAddNewCustomer" role="tab"
                        aria-controls="AddNewCustomer" aria-selected="true">Add New Supplier</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="divBasicInfo" role="tabpanel" aria-labelledby="divBasicInfo">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <label asp-for="PurchasesPaymentCRUDViewModel.SupplierId"
                                    class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-8">
                                    <select id="SupplierId" asp-items="@ViewBag._LoadddlSupplier"
                                        asp-for="PurchasesPaymentCRUDViewModel.SupplierId" style="width: 100%;" class="" required>
                                        <option value="1" selected>Walk in Supplier</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <a class="fa fa-plus-square fa-2x" onclick="AddNewSupplier()"></a>
                                </div>
                            </div>
                            <div id="divPaymentStatus">
                                <div class="row">
                                    <label asp-for="PurchasesPaymentCRUDViewModel.PaymentStatus"
                                        class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <select id="PaymentStatus" asp-items="@ViewBag.GetddlPaymentStatus"
                                            asp-for="PurchasesPaymentCRUDViewModel.PaymentStatus" style="width: 100%;"
                                            class="" required>
                                            <option value="2" selected>UnPaid</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label asp-for="PurchasesPaymentCRUDViewModel.ItemBarcode"
                                    class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="PurchasesPaymentCRUDViewModel.ItemBarcode" id="ItemBarcode"
                                        onchange="GetItemByItemBarcode()" class="" type="text"
                                        placeholder="Item Barcode" />
                                    <span asp-validation-for="PurchasesPaymentCRUDViewModel.ItemBarcode"
                                        class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <label asp-for="PurchasesPaymentCRUDViewModel.PurchaseOrderNumber"
                                    class="col-sm-5 col-form-label"></label>
                                <div class="col-sm-7">
                                    <input asp-for="PurchasesPaymentCRUDViewModel.PurchaseOrderNumber"
                                        id="PurchaseOrderNumber" class="" type="text" placeholder="N/A" />
                                    <span asp-validation-for="PurchasesPaymentCRUDViewModel.PurchaseOrderNumber"
                                        class="text-danger"></span>
                                </div>
                            </div>
                            <div id="divInvoiceNo">
                                <div class="row">
                                    <label asp-for="PurchasesPaymentCRUDViewModel.InvoiceNo"
                                        class="col-sm-5 col-form-label"></label>
                                    <div class="col-sm-7">
                                        <input asp-for="PurchasesPaymentCRUDViewModel.InvoiceNo" id="InvoiceNo" class=""
                                            type="text" />
                                        <span asp-validation-for="PurchasesPaymentCRUDViewModel.InvoiceNo"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="divQuoteNo">
                                <div class="row">
                                    <label asp-for="PurchasesPaymentCRUDViewModel.QuoteNo"
                                        class="col-sm-5 col-form-label"></label>
                                    <div class="col-sm-7">
                                        <input asp-for="PurchasesPaymentCRUDViewModel.QuoteNo" id="QuoteNo" class=""
                                            type="text" />
                                        <span asp-validation-for="PurchasesPaymentCRUDViewModel.QuoteNo"
                                            class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-5">Document Type</label>
                                <div class="col-sm-7">
                                    <select asp-for="PurchasesPaymentCRUDViewModel.Category" id="Category" class=""
                                        required>
                                        <option value="1" selected>Invoice</option>
                                        <option value="3">Quote</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.PurchasesPaymentCRUDViewModel.IsVat == "Yes")
                    {
                        <partial name="_AddPaymentDetail" />
                    }
                    else
                    {
                        <partial name="_AddPaymentDetailVATDisabled" />
                    }

                    <h5 class="text-right">Items Total: @Model.PurchasesPaymentCRUDViewModel.CurrencySymbol <label
                            id="SumPaymentItem">0</label>
                    </h5>

                    <div class="row">
                        <div class="col-sm-5">
                            <table class="" border="1" style=" width:100%;margin:1px auto;">
                                <tr>
                                    <th style="background-color:aqua">Paid Amount</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.PaidAmount"
                                            id="PaidAmount" class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sub Total</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.SubTotal"
                                            id="SubTotal" class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                @if (Model.PurchasesPaymentCRUDViewModel.IsVat == "Yes")
                                {
                                    <tr>
                                        <th>VAT Amount</th>
                                        <td style="width:50%">
                                            <input type="number" asp-for="PurchasesPaymentCRUDViewModel.VATAmount"
                                            id="VATAmount" class="unstyled-button" readonly />
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <th>Discount Amount</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.DiscountAmount"
                                            id="DiscountAmount" class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Grand Total</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.GrandTotal"
                                            id="GrandTotal" class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Due Amount</th>
                                    <td style="width:50%">
                                        <input asp-for="PurchasesPaymentCRUDViewModel.DueAmount" id="DueAmount"
                                            class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Changed Amount</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.ChangedAmount"
                                            id="ChangedAmount" class="unstyled-button" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Shipping Charge</th>
                                    <td style="width:50%">
                                        <input type="number" asp-for="PurchasesPaymentCRUDViewModel.CommonCharge"
                                            id="CommonCharge" class="" onchange="onchangeCommonCharge()" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-7">
                            <div id="divPaymentDetail">
                                <div class="row">
                                    <partial name="_AddPaymentModeHistory" />
                                </div>
                                <div class="col-sm-12">
                                    <h5 class="text-right">Payment Total: <label
                                            id="SumPaymentHistory"></label></h5>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="PurchasesPaymentCRUDViewModel.CustomerNote"
                                    class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="PurchasesPaymentCRUDViewModel.CustomerNote" id="CustomerNote"
                                        class="form-control" type="text"></textarea>
                                    <span asp-validation-for="PurchasesPaymentCRUDViewModel.CustomerNote"
                                        class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PurchasesPaymentCRUDViewModel.PrivateNote"
                                    class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="PurchasesPaymentCRUDViewModel.PrivateNote" id="PrivateNote"
                                        class="form-control" type="text"></textarea>
                                    <span asp-validation-for="PurchasesPaymentCRUDViewModel.PrivateNote"
                                        class="text-danger"></span>
                                </div>
                            </div>


                            <div class="row">
                                <label></label>
                                <div class="col-sm-12">
                                    <input type="button" id="btnSave" value="Save" onclick="SavePayment()"
                                        class="btn btn-success">
                                    <input type="button" id="btnSaveDraft" value="Draft" onclick="SavePaymentDraft()"
                                        class="btn btn-info">
                                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="divOtherInfo" role="tabpanel" aria-labelledby="divOtherInfoTab">
                    <div class="form-group row">
                        <label asp-for="PurchasesPaymentCRUDViewModel.BranchId"
                            class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-6">
                            <select asp-for="PurchasesPaymentCRUDViewModel.BranchId" id="BranchId"
                                style="width: 100%;" asp-items="@ViewBag.ddlBranch" class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PurchasesPaymentCRUDViewModel.CurrencyId"
                            class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-6">
                            <select asp-for="PurchasesPaymentCRUDViewModel.CurrencyId" id="CurrencyId"
                                style="width: 100%;" asp-items="@ViewBag.ddlCurrency" class="form-control" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="divAddNewCustomer" role="tabpanel" aria-labelledby="divAddNewCustomer">
                    <div class="form-group row">
                        <label asp-for="SupplierCRUDViewModel.Name" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SupplierCRUDViewModel.Name" id="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SupplierCRUDViewModel.ContactPerson" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SupplierCRUDViewModel.ContactPerson" id="ContactPerson" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SupplierCRUDViewModel.Email" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SupplierCRUDViewModel.Email" id="Email" class="form-control" />
                            <span asp-validation-for="SupplierCRUDViewModel.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SupplierCRUDViewModel.Phone" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SupplierCRUDViewModel.Phone" id="Phone" class="form-control" />
                            <span asp-validation-for="SupplierCRUDViewModel.Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SupplierCRUDViewModel.Address" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="SupplierCRUDViewModel.Address" id="Address" class="form-control" />
                            <span asp-validation-for="SupplierCRUDViewModel.Address" class="text-danger"></span>
                        </div>
                    </div>                   
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="button" value="Add Supplier" onclick="SaveSupplier()" class="btn btn-info">
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/PurchasesPayment/PurchasesPaymentDetail_CRUD.js"></script>
<script src="~/js/PurchasesPayment/HideShowInvoiceQuote.js"></script>
<script src="~/js/PurchasesPayment/FieldsUpdateService.js"></script>
<script src="~/js/ItemSerialNumber/ItemSerialNumber_CRUD.js"></script>

<script>
    $(document).ready(function () {
        $("#ItemId").select2();
        $("#CurrencyId").select2();
        $("#SupplierId").select2();
        
        //Edit Option: Load Items
        if (parseFloat($("#Category").val()) != 2) {
            var result = @Html.Raw(Json.Serialize(Model.listPurchasesPaymentDetailCRUDViewModel));
            if (result != null) {
                result.forEach(LoadTableRowFromDB);

                var _GrandTotal = $("#GrandTotal").val();
                var _CommonCharge = $("#CommonCharge").val();
                _GrandTotal = parseFloat(_GrandTotal) - parseFloat(_CommonCharge)
                $("#SumPaymentItem").text(_GrandTotal);
            }
        }
    });
    $('#CurrentURL').val(window.location.pathname);

    var onchangeCommonCharge = function () {
        var _CommonCharge = $("#CommonCharge").val();
        var _SumPaymentItem = $("#SumPaymentItem").text();

        var result = parseFloat(_SumPaymentItem) + parseFloat(_CommonCharge);
        $("#GrandTotal").val(result.toFixed(2));
    }

    var IsDraft = false;
    var _Category = 1;
    var SavePaymentDraft = function () {
        IsDraft = true;
        SavePayment();
        IsDraft = false;
    }

    var SavePayment = function () {
        if (IsDraft) {
            _Category = 2;
            $("#btnSaveDraft").val("Please Wait");
            $('#btnSaveDraft').attr('disabled', 'disabled');
        }
        else {
            _Category = $("#Category").val();
            $("#btnSave").val("Please Wait");
            $('#btnSave').attr('disabled', 'disabled');
        }

        var _PreparedFormObj = PreparedFormObj();
        $.ajax({
            type: "POST",
            url: "/PurchasesPayment/AddEdit",
            data: _PreparedFormObj,
            dataType: "json",
            success: function (result) {
                if (result.IsSuccess) {
                    Swal.fire({
                        title: result.AlertMessage,
                        icon: "success"
                    }).then(function () {
                        document.getElementById("btnClose").click();
                        if (result.CurrentURL == "/PurchasesPayment/Index" && result.ModelObject.Category == 1) {
                            $("#btnSave").val("Save");
                            $('#btnSave').removeAttr('disabled');
                            $('#tblPurchasesPayment').DataTable().ajax.reload();
                        }
                        else if (result.CurrentURL == "/PurchasesPayment/Index" && result.ModelObject.Category == 2) {
                            $("#btnSaveDraft").val("Save");
                            $('#btnSaveDraft').removeAttr('disabled');
                            location.href = "/PurchasesPaymentDraft/Index";
                        }
                        else if (result.CurrentURL == "/PurchasesPaymentDraft/Index" && result.ModelObject.Category == 1) {
                            location.href = "/PurchasesPayment/PrintPurchasesPaymentInvoice?_PaymentId=" + result.Id;
                        }
                        else if (result.CurrentURL == "/PurchasesPaymentDraft/Index" && result.ModelObject.Category == 2) {
                            $('#tblPurchasesPaymentDraft').DataTable().ajax.reload();
                        }
                        else if (result.CurrentURL == "/PurchasesPayment/Index" && result.ModelObject.Category == 3) {
                            location.href = "/PurchasesPaymentQuote/Index";
                        }
                        else if (result.CurrentURL == "/PurchasesPaymentQuote/Index" && result.ModelObject.Category == 3) {
                            $('#tblPurchasesPaymentQuote').DataTable().ajax.reload();
                        }
                        else if (result.CurrentURL == "/") {
                            setTimeout(function () {
                                $("#tblPurchasesPayment").load("/ #tblPurchasesPayment");
                            }, 1000);
                        }
                        else {
                            $('#tblPurchasesPayment').DataTable().ajax.reload();
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: result.AlertMessage,
                        icon: "warning"
                    }).then(function () {
                        $("#btnSave").val("Save");
                        $('#btnSave').removeAttr('disabled');
                        setTimeout(function () {
                            $('#ItemId').focus();
                        }, 400);
                    });
                }
            },
            error: function (errormessage) {
                SwalSimpleAlert(errormessage.responseText, "warning");
            }
        });
    }

    var PreparedFormObj = function () {
        var _PurchasesPaymentCRUDViewModel = {
            Id: $("#Id").val(),
            SupplierId: $("#SupplierId").val(),
            InvoiceNo: $("#InvoiceNo").val(),
            QuoteNo: $("#QuoteNo").val(),
            CreatedDate: $("#CreatedDate").val(),
            CreatedBy: $("#CreatedBy").val(),

            CommonCharge: $("#CommonCharge").val(),
            //Discount: $("#Discount").val(),
            DiscountAmount: $("#DiscountAmount").text(),
            VAT: $("#VAT").val(),
            TaxAmount: $("#TaxAmount").text(),
            SubTotal: $("#SubTotal").val(),
            GrandTotal: $("#GrandTotal").val(),
            PaidAmount: $("#PaidAmount").val(),
            DueAmount: $("#DueAmount").val(),
            ChangedAmount: $("#ChangedAmount").val(),
            CurrencyId: $("#CurrencyId").val(),
            BranchId: $("#BranchId").val(),
            PaymentStatus: $("#PaymentStatus").val(),
            CurrentURL: $("#CurrentURL").val(),
            Category: _Category,

            PurchaseOrderNumber: $("#PurchaseOrderNumber").val(),
            CustomerNote: $("#CustomerNote").val(),
            PrivateNote: $("#PrivateNote").val(),
        };
        return _PurchasesPaymentCRUDViewModel;
    }

</script>

<style>
    table th {
        padding-left: 5px;
    }

    table td {
        padding-left: 5px;
    }

    .card-body {
        padding-top: 0.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
    }
</style>