@model BusinessERP.Models.AccTransactionViewModel.AccTransactionCRUDViewModel

<div class="row">
<div class="col-md-12">
<table class="ItemTranTable">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>AccountId</th><td>@Model.AccountDisplay</td></tr>
    <tr><th>Type</th><td>@Model.Type</td></tr>
    <tr><th>Reference</th><td>@Model.Reference</td></tr>
    <tr><th>Credit</th><td>@Model.Credit</td></tr>
    <tr><th>Debit</th><td>@Model.Debit</td></tr>
    <tr><th>Amount</th><td>@Model.Amount</td></tr>
    <tr><th>Description</th><td>@Model.Description</td></tr>
    <tr><th>CreatedDate</th><td>@Model.CreatedDate</td></tr>
    <tr><th>ModifiedDate</th><td>@Model.ModifiedDate</td></tr>
    <tr><th>CreatedBy</th><td>@Model.CreatedBy</td></tr>
    <tr><th>ModifiedBy</th><td>@Model.ModifiedBy</td></tr>
</table>
</div>
</div>
