<div class="row">
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "CompanyInfo")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/company.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Company Info</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Branch")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/Branch.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Branch</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "EmailConfig")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/email.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Email Config</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Currency")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/exchange.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Manage Currency</span>
                </div>
            </div>
        </a>
    </div>
</div>

<hr class="divSearchSS" />
<div class="row">
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "PaymentType")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/PaymentType.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Payment Type</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "CustomerType")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/customer.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Customer Type</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "VatPercentage")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/VatPercentage.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Vat Percentage</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Categories")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/category.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Manage Categories</span>
                </div>
            </div>
        </a>
    </div>
</div>


<hr class="divSearchSS" />
<div class="row">
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "UnitsofMeasure")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/UnitsofMeasure.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Units of Measure</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "ExpenseType")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/ExpenseType.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Expense Type</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "ManageUserRoles")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/ManageUserRoles.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Manage User Roles</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Designation")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/Designation.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Manage User Roles</span>
                </div>
            </div>
        </a>
    </div>
</div>

<hr class="divSearchSS" />
<div class="row">
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Department")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/Department.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Department</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "SubDepartment")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/SubDepartment.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Sub Department</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "Supplier")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/Supplier.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Supplier</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 divSearchSS">
        <a href="@Url.Action("Index", "CustomerInfo")">
            <div class="info-box">
                <span class="box"><img src="/images/SystemSettings/CustomerInfo.png"></span>
                <div class="info-box-content">
                    <span class="info-box-text">Customer Info</span>
                </div>
            </div>
        </a>
    </div>
</div>