@model BusinessERP.Models.ItemsViewModel.ItemsCRUDViewModel
<div class="row" style="overflow-x:auto;">
    <div class="col-md-12">
        <table class="BlueGreen">
            <tr>
                <th style="width: 30%;">Cost Price</th>
                <td>@Model.CostPrice</td>
            </tr>
            <tr>
                <th>Normal Price</th>
                <td>@Model.NormalPrice</td>
            </tr>
            <tr>
                <th>Trade Price</th>
                <td>@Model.TradePrice</td>
            </tr>
            <tr>
                <th>Premium Price</th>
                <td>@Model.PremiumPrice</td>
            </tr>
            <tr>
                <th>Other Price</th>
                <td>@Model.OtherPrice</td>
            </tr>
            <tr>
                <th style="background-color:grey">Old Unit Price</th>
                <td>@Model.OldUnitPrice</td>
            </tr>
            <tr>
                <th style="background-color:grey">Old Sell Price</th>
                <td>@Model.OldSellPrice</td>
            </tr>



            <tr>
                <th style="background-color:rebeccapurple">Vat Percentage</th>
                <td>@Model.VatPercentage</td>
            </tr>
            <tr>
                <th>Cost VAT</th>
                <td>@Model.CostVAT</td>
            </tr>
            <tr>
                <th>Normal VAT</th>
                <td>@Model.NormalVAT</td>
            </tr>
            <tr>
                <th>Trade VAT</th>
                <td>@Model.TradeVAT</td>
            </tr>
            <tr>
                <th>Premium VAT</th>
                <td>@Model.PremiumVAT</td>
            </tr>
            <tr>
                <th>Other VAT</th>
                <td>@Model.OtherVAT</td>
            </tr>
        </table>
    </div>
</div>