@model BusinessERP.Models.AccTransferViewModel.AccTransferCRUDViewModel

<div class="row">
<div class="col-md-12">
<table class="ItemTranTable">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>Sender</th><td>@Model.SenderDisplay</td></tr>
    <tr><th>Receiver</th><td>@Model.ReceiverDisplay</td></tr>
    <tr><th>Transfer Date</th><td>@Model.TransferDate</td></tr>
    <tr><th>Amount</th><td>@Model.Amount</td></tr>
    <tr><th>Note</th><td>@Model.Note</td></tr>
    <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
    <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
    <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
    <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
</table>
</div>
</div>
