@model BusinessERP.Models.ItemRequestViewModel.ItemRequestCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="BlueGreen">
            <tr>
                <th>Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>@Model.ItemDisplay</td>
            </tr>
            <tr>
                <th>Request Quantity</th>
                <td>@Model.RequestQuantity</td>
            </tr>
            <tr>
                <th>From Warehouse</th>
                <td>@Model.FromWarehouseDisplay</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Model.StatusDisplay</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>@Model.Note</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Modified Date</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
