@model IEnumerable<BusinessERP.Models.WarehouseViewModel.WarehouseWiseItemsViewModel>

@{
    ViewData["Title"] = "Warehouse Wise Items";
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <button class="btn btn-success" onclick="TransferItem()">Transfer Item</button>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;Warehouse Wise Items</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblWarehouseWiseItems" class="BlueGreen">
                <thead>
                    <tr>
                        <th>
                            Warehouse Id
                        </th>
                        <th>
                            Warehouse Name
                        </th>
                        <th>
                            Total Available Item
                        </th>
                        <th>
                            Total Available Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        Int64 sumTotalAvailableItem = 0;
                        Int64 sumTotalAvailableQuantity = 0;

                        foreach (var item in Model)
                        {
                            sumTotalAvailableItem = sumTotalAvailableItem + item.TotalAvailableItem;
                            sumTotalAvailableQuantity = sumTotalAvailableQuantity + item.TotalAvailableQuantity;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WarehouseId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WarehouseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAvailableItem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAvailableQuantity)
                                </td>
                            </tr>
                        }
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Σ: @sumTotalAvailableItem</td>
                        <td>Σ: @sumTotalAvailableQuantity</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script src="~/js/ItemTransferLog/TransferSingleItem_CRUD.js"></script>

<script>
    $(document).ready(function () {
        $("#tblWarehouseWiseItems").DataTable({
            'columnDefs': [{
                'targets': [0, 1, 2, 3],
                'orderable': false,
            }],
        });
    });
</script>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 15px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>
